<!DOCTYPE html>
<!--
The MIT License

Copyright 2020 Ozar <gosocial2@ozar.net>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head th:replace="fragments/mainLayout :: head(~{this :: title}, ~{})">
        <title>Error</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../static/css/adminlte.css" rel="stylesheet" media="screen" th:href="@{/static/css/adminlte.css}"/>
    </head>
    <body class="hold-transition sidebar-mini">

        <div class="wrapper">

            <nav th:replace="fragments/mainLayout :: header">
            </nav>

            <aside th:replace="fragments/mainLayout :: sidebar">
            </aside>    

            <!-- Main content -->
            <section class="content">
                <div  class="container-fluid">

                    <div th:replace="fragments/alert :: alert (type='danger', message=${errorMessage})">Error: Error</div>
                    <div th:include="fragments/footer :: footer">&copy; 2020 Your generated app</div>
                    
                </div><!-- /.container-fluid -->
            </section> <!-- /.content -->
        </div><!-- ./wrapper -->
    </body>
</html>
