<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/adminlte.css" rel="stylesheet" media="screen" th:href="@{/static/css/adminlte.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/alert :: alert (type='danger', message=${errorMessage})">Error: Error</div>
    <div th:include="fragments/footer :: footer">&copy; 2020 Your generated app</div>
</div>
</body>
</html>
