                                      <div class="col-md-11" th:fragment="formFields">
                                        
                                            
                                            <div class="form-group row">
                                                <label for="cityName" class="col-form-label">City Name</label> 
                                                <input
                                                    type="text" th:field="*{cityName}" class="form-control" id="cityName"
                                                    placeholder="Example: New York"> 
                                                <span
                                                    th:if="${#fields.hasErrors('cityName')}" th:errors="*{cityName}"
                                                    class="text-danger"></span>
                                            </div>
                                            
                                            <div class="form-group row">

                                                <div class="col-sm-11">
                                                    <div class="form-check">
                                                        <input type="checkbox" th:field="*{enabled}" id="enabled"  value="1"  class="form-check-input">
                                                        <label for="enabled" class="form-check-label">Enabled</label>
                                                    </div><!--//.form-check -->
                                                </div>

                                            </div><!--//.form-group -->
                                            
                                             <div class="form-group row">
                                                <label for="countryCode" class="col-form-label">Country</label> 
                                                <select th:object="${city}" class="form-control select2bs4" th:field="*{country}"  id="countryCode" name="countryCode">
                                                    <option value="">Please select a country...</option>
                                                    <option th:each="country : ${countryList}"
                                                            th:value="${country.isoCode}"
                                                            th:text="${country.countryName}" />
                                                </select>
                                            </div><!--//.form-group -->
                                    </div><!--//.col -->